/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/*Variables*/
:root {
  --main-font: 'Lato', Helvetica, sans-serif;
  --font-size-title: 1.2em;
  --font-size-question: 1em;
  --button-radius: 2em;
  --shadow: 1px 1px 2px #cccccc;
  --border-radius: 0.5em;
  --color-green: #00A800;
}

/*Global Styles*/
html {
  box-sizing: border-box;
}

#root {
  display: flex;
  align-items: center;
}

html, body{
  overflow-x: hidden;
}

body {
  font-family: var(--main-font);
  margin: 0 auto;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: var(--main-font);
}

/*Styles*/
.container {
  width: 40%;
  margin: 2em auto;
}

/*Styles*/
.container {
  width: 40%;
  margin: 2em auto;
}